<ion-view view-title="Mail">
  <ion-content>
    <ion-list>
        <ion-item nav-clear menu-close href="">
          Inbox
        </ion-item>
        <ion-item nav-clear menu-close href="">
          Send Items
        </ion-item>
          <ion-item nav-clear menu-close href="">
          Draft Items
        </ion-item>
        <ion-item nav-clear menu-close href="">
          Trash
        </ion-item>
        <ion-item nav-clear menu-close href="">
          Outbox
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-content>
</ion-view>
