<ion-view view-title="Appointment details">
<ion-nav-buttons side="right">

<button class="button" style="border-style: none" ng-click="searchcon()">
  <i class="icon ion-ios7-search" style="color: #B80808"></i>

    </ion-nav-buttons>
    






    <ion-content>


    

  <ion-list>

  <ion-item type="item-text-wrap">
  <h2>TEXTTTTTTT</h2>
  
</ion-item>
      
      
      <ion-item >
          
         
				<a data-event-id="<%= event.id %>"</a>
					
                    
          </ion-item> 
      
        <ion-item>
      
      </ion-item>


</ion-list>

</ion-content>
</ion-view>
