<ion-view view-title="{{ 'AppointmentDetail' | translate}}">
<ion-nav-buttons side="right">

<button class="button disabled"style="border-style: none" ng-click="conf()">
  <i class="icon ion-gear-a" style="color: #B80808"></i>

</button>


    </ion-nav-buttons>
    
    
    <ion-content>

  
         
 <div class="list card">
         <div class="item item-divider">
           <h1>{{tareas.mainData.entity.title}}</h1>
         </div>
         <a class="item item-thumbnail-right" href="#">
             
             
             <h2 ng-repeat="t in tipolist" ng-if="t.appointmentTypeId == appoid">{{ 'Type' | translate}}: {{t.name}}</h2>
                <br>
        <h2 ng-repeat="p in prioridades" ng-if="p.priorityId == prid">{{ 'Priority' | translate}}: {{p.name}}</h2>
        <br> 
             <h2>{{ 'Thisisanalldayappointment' | translate}}: <input type="checkbox" ng-checked="{{tareas.mainData.entity.isAllDay}}">   </h2>
             <h2>{{ 'StartDate' | translate}}: {{tareas.mainData.entity.startDateTime | date:'medium'}}</h2>
           <br>
           <h2>{{ 'EndDate' | translate}}: {{tareas.mainData.entity.endDateTime | date:'medium'}} </h2>
             <br>
            
             
             <h2>{{ 'Recurrent' | translate}} :  <input type="checkbox" ng-checked="{{tareas.mainData.entity.isRecurrence}}"></h2>
              <br>
             <h2>{{ 'Location' | translate}}: {{tareas.mainData.entity.location}} </h2>
             <h2>{{ 'Reminder' | translate}}: <input type="checkbox" ng-checked="{{tareas.mainData.entity.reminder}}"></h2>
             <br>
             <h2>{{ 'Private' | translate}}: <input type="checkbox" ng-checked="{{tareas.mainData.entity.isPrivate}}"> </h2>
             
             
             <h2></h2>

<!--           <h1> <span class="badge ion-chevron-right"> </span> </h1>-->
           
         </a>
       </div>
        
<!--       <li><% data-event-id="<%= event.id %>" %></data-event-id></li>-->


</ion-content>
</ion-view>

