
<ion-view view-title="">

  <ion-nav-buttons side="right">

    <button class="button" style="border-style: none" ng-click="saveAppointment()">
      <i class="icon ion-checkmark" style="{{colorFont}}"></i>
    </button>

  </ion-nav-buttons>

  <ion-content>

    <form >
      <div class="list">

        <label class="item item-input">
          <span class="input-label">{{'Title'|translate}}:</span>
          <input type="text" maxlength="60" required="required" placeholder="" ng-model="entity.title">
          <i class="icon ion-alert-circled error"></i>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            {{'Type'|translate}}:
          </div>
          <select ng-model="typeAppointment" ng-change="updateTypeAppointment(typeAppointment)" id="type" name="type" ng-options="c.name for c in appointmentTypes"></select>
        </label>

        <label class="item item-toggle">
          {{'AllDay'|translate}}:
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="entity.isAllDay" name="" ng-change="hideDiv()">
              <div class="track">
               <div class="handle"></div>
              </div>
          </label>
        </label>

        <!-- show or hide fields -->
        <div class="card">
          <div class="item item-divider">
            {{'Start'|translate}}:
          </div>
          <div class="item item-text-wrap" style="padding-bottom: 0px; padding-top: 0px;">
            <div class="row">
              <div class="col col-50" class="button button-small button-light">
                <input type="date" ng-model="dateStart.value">
              </div>
              <div ng-show="!entity.isAllDay" class="col col-25">
                <label class="item item-input">
                  <select class="button button-small button-light" ng-model="startHourType" ng-change="updateStartHour(startHourType)" ng-options="c.name for c in hoursArray"></select>
                </label>
              </div>
              <div ng-show="!entity.isAllDay" class="col col-25">
                <label class="item item-input">
                  <select class="button button-small button-light" ng-model="startMinuteType" ng-change="updateStartMinute(startMinuteType)" ng-options="c.name for c in minutesArray"></select>
                </label>
              </div>
            </div>    
          </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            {{'Start'|translate}}:
          </div>
          <div class="item item-text-wrap" style="padding-bottom: 0px; padding-top: 0px;">
            <div class="row">
              <div class="col col-50" class="button button-small button-light">
                <input type="date" ng-model="dateEnd.value">
              </div>
              <div ng-show="!entity.isAllDay" class="col col-25">
                <label class="item item-input">
                  <select class="button button-small button-light" ng-model="endHourType" ng-change="updateEndHour(endHourType)" ng-options="c.name for c in hoursArray"></select>
                </label>
              </div>
              <div ng-show="!entity.isAllDay" class="col col-25">
                <label class="item item-input">
                  <select class="button button-small button-light" ng-model="endMinuteType" ng-change="updateEndMinute(endMinuteType)" ng-options="c.name for c in minutesArray"></select>
                </label>
              </div>
            </div>    
          </div>
        </div>

        <label class="item item-input">
          <span class="input-label">{{'Location'|translate}}:</span>
          <input type="text" maxlength="60"  ng-model="entity.location">
        </label>

        <label class="item item-toggle">
          {{'Reminder'|translate}}:
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="entity.reminder" name="">
              <div class="track">
               <div class="handle"></div>
              </div>
          </label>
        </label>

        <div ng-show="entity.reminder" class="card">
            <label class="item item-input item-select">
              <div class="input-label">
                {{'Reminder'|translate}}:
              </div>
              <div  class="row">
                <select ng-model="typeReminder" ng-change="updateReminder(typeReminder)" ng-options="c.name for c in reminderList"></select>

              </div>  
            </label>
        </div>  

        <label class="item item-toggle">
          {{'Private'|translate}}:
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="entity.isPrivate" name="">
              <div class="track">
               <div class="handle"></div>
              </div>
          </label>
        </label>

        <div class="card">
          <div class="item item-divider">
            {{'Description'|translate}}:
          </div>
          <div class="item item-text-wrap" style="padding-bottom: 0px; padding-top: 0px;">
            <textarea rows="4" ng-model="entity.descriptionText"></textarea> 
          </div>
        </div>

      </div>
    </form>

  </ion-content>
</ion-view>
