<ion-view view-title="scheduler">
  <ion-content >

    <div class="container">

      <div class="button-bar">
        <!-- <button class="button button-outline button-positive" ng-click="myFunction()">pedoooooo</button> -->
        <button class="button button-outline button-positive" ng-click="schedulePrev()" ><< Anterior</button>
        <button class="button button-outline button-positive" ng-click="scheduleToday()" >Hoy</button>
        <button class="button button-outline button-positive" ng-click="scheduleNext()" >Siguiente >></button>
      </div>

			<hr>
      <div class="card">
        <div class="item item-text-wrap">
          <div id="calendar"></div>
        </div>
      </div>

      <div class="button-bar">
        <button class="button button-outline button-positive" ng-click="dataScheduleMonth()" >Mes</button>
        <button class="button button-outline button-positive" ng-click="dataScheduleWekk()" >Semana</button>
        <button class="button button-outline button-positive" ng-click="dataScheduleDay()" >Día</button>
      </div>
			
		</div>
    	
	
  </ion-content>
</ion-view>



<!-- <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-home"></i>
        Test
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Favorites
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>
  </div> -->


  <!-- <div class="tabs-striped tabs-color-assertive">
    <div class="tabs">

      <a class="tab-item active" data-calendar-view="year">
        <i class="icon ion-home"></i>
        Test
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Favorites
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>
  </div> -->


