<ion-view view-title="scheduler">
  <ion-content>
    <h1>scheduler</h1>
     <input type="date"> 
  </ion-content>
</ion-view>



<div class="tabs-striped tabs-color-assertive">
	<div class="tabs">
	  <a class="tab-item" href="#/app/schedulerDay">
	    <!-- <i class="icon ion-home"></i> -->
	    Day
	  </a>
	  <a class="tab-item" href="#/app/schedulerWeek">
	    <!-- <i class="icon ion-star"></i> -->
	    Week
	  </a>
	  <a class="tab-item" href="#/app/schedulerMonth">
	    <!-- <i class="icon ion-gear-a"></i> -->
	    Month
	  </a>
	  <a class="tab-item active" href="#">
	    <!-- <i class="icon ion-gear-a"></i> -->
	    Year
	  </a>
	</div>
</div>