
<ion-view view-title="{{ 'addContact' | translate}}">

  <ion-nav-buttons side="right">

    <button class="button" style="border-style: none" ng-click="saveOrganization()">
      <i class="icon ion-checkmark" style="{{colorFont}}"></i>
    </button>

  </ion-nav-buttons>

  <ion-content>

    <form >
      <div class="list">

        <label class="item item-input">
          <div class="input-label">Function</div>
          <input type="text" ng-model="entity.name1" placeholder="Function" maxlength="60" name="dto(name1)" required="required" validated>                    
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Department
          </div>
          <select ng-model="salutation" ng-change="updateSalutation(salutation)" name="dto(salutationId)" ng-options="c.name for c in salutations">
          </select>
        </label>
          
        <div class="item item-divider bar bar-header bar-assertive">Comunication Info</div>

          <div class="item item-input" data-ng-repeat="choice in choices">
            <button class="button" style="border-style: none" ng-click="removeChoice(choice)">
              <i class="ion-minus-circled" style="{{colorFont}}"></i>
            </button>           
            <input type="text" ng-model="choice.value" disabled>  
            <b><input type="text" ng-model="choice.telecom.name" disabled></b>
          </div>       
  
          <div class="item item-input item-select">
            <button class="button" style="border-style: none" ng-click="addNewChoice(auxvalue,telecom); auxvalue = ''">
              <i class="ion-plus-circled" style="{{colorFont}}"></i>
            </button>            
            <input type="text" ng-model="auxvalue">            
            <select ng-model="telecom" ng-options="c.name for c in telecoms"></select>  
          </div>        

          <div class="item item-divider bar bar-header bar-assertive">Contact type</div>
     
          <label class="item item-toggle">
            Customer
            <label class="toggle toggle-assertive">
              <input type="checkbox" ng-model="entity.isCustomer" name="dto(isCustomer)" ng-checked="entity.isCustomer == 'true' ? true : false ">
                <div class="track">
                 <div class="handle"></div>
                </div>
            </label>
          </label>
    
          <label class="item item-toggle">
            Suplier
            <label class="toggle toggle-assertive">
              <input type="checkbox" ng-model="entity.isSuplier" name="dto(isSupplier)" ng-checked="entity.isSupplier == 'true' ? true : false ">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </label>
      </div>
    </form>

  </ion-content>
</ion-view>
