<ion-view cache-view="true" view-title="Details">


<ion-nav-buttons side="right">

<button class="button" style="border-style: none" ng-click="borrarPersona()">
  <i class="icon ion-trash-a" style="color: #B80808"></i>

</button>

</ion-nav-buttons>

<ion-content>

<div class="list card">
  <div class="item item-divider" href="#">
    <h2>Info</h2>
  </div>
<div class="item item-avatar"  ng-if='contact.mainData.entity.contactPersonId == undefined && contact.mainData.entity.addressType == "1" '>
    <img ng-if='contact.mainData.entity.imageId ==""' ng-src="img/person.png" style="width: 80px; height: 80px">
    <img ng-if='contact.mainData.entity.imageId !=""' ng-src="{{apiUrlLocal}}{{contact.mainData.entity.imageUrl}}" style="width: 80px; height: 80px">
    <h2>{{contact.mainData.entity.name1}} {{contact.mainData.entity.name2}},{{contact.mainData.entity.name3}}</h2>
  </div>


  <div class="item item-avatar" ng-if='contact.mainData.entity.contactPersonId == undefined && contact.mainData.entity.addressType == "0" '>
    <img ng-if='contact.mainData.entity.imageId ==""' ng-src="img/org.png" style="width: 80px; height: 80px">
    <img ng-if='contact.mainData.entity.imageId !=""' ng-src="{{apiUrlLocal}}{{contact.mainData.entity.imageUrl}}" style="width: 80px; height: 80px">
    <h2>{{contact.mainData.entity.name1}}
      <br>{{contact.mainData.entity.name2}}
      <br>{{contact.mainData.entity.name3}}</h2>
    </div>



    <div class="item item-avatar" ng-if='contact.mainData.entity.contactPersonId != undefined && contact.mainData.entity.addressType == "1" '>
      <img ng-if='contact.mainData.entity.imageId ==""' ng-src="img/contactp.png" style="width: 80px; height: 80px">
      <img ng-if='contact.mainData.entity.imageId !=""' ng-src="{{apiUrlLocal}}{{contact.mainData.entity.imageUrl}}" style="width: 80px; height: 80px">
      <h2>{{contact.mainData.entity.organizationName}}</h2>
      <br>{{contact.mainData.entity.name1}},{{contact.mainData.entity.name2}},{{contact.mainData.entity.name3}}
      <br>Funtion: {{contact.mainData.entity.function}}
    </div>
</div>




       </div>

       <div class="list card">
         <div class="item item-divider">
           <h2>Address</h2>
         </div>
         <a class="item item-thumbnail-right" href="#">
           
           Street: {{contact.mainData.entity.street}}
           <br>
           Zip Code: {{contact.mainData.entity.zip}}
           <br>
           city: {{contact.mainData.entity.city}}

           <h1> <span class="badge ion-chevron-right"> </span> </h1>
           
         </a>
       </div>

       <div class="list card">
         <div class="item item-divider">
           <h2>Communications</h2>
         </div>
         
         <div class="item item-body">

     <div ng-repeat="telecom in telecomss">

      
      <div ng-repeat="tele in telecom.telecomList">

        <div ng-if="telecom.telecomTypeType == 'PHONE'">{{telecom.telecomTypeName}}: <a ng-href="tel:{{tele.data}}">{{tele.data}}</a></div>
        <div ng-if="telecom.telecomTypeType == 'EMAIL'">{{telecom.telecomTypeName}}: <a ng-href="mailto:{{tele.data}}">{{tele.data}}</a></div>
        <div ng-if="telecom.telecomTypeType != 'PHONE' && telecom.telecomTypeType != 'EMAIL'">{{telecom.telecomTypeName}}: {{tele.data}}</div>
       
      </div>

    </div>
  </div>
  
</div>

	

</ion-content>
</ion-view>
