<ion-view view-title="{{contact.name}}">
  <ion-content class="padding">

	<div class="list card">
	    <a class="item item-thumbnail-left" href="#">
	      <img src="{{contact.foto}}">
	      <h2>{{contact.of}}</h2>
	      <p>{{contact.name}}</p>
	      <!-- <p>{{contact.funtion}}</p> -->
	      <h1> <span class="badge ion-chevron-right"> </span> </h1>
	    </a>
	</div>

	<div class="list card">
	    <div class="item item-divider">
		    <h2>Address</h2>
		</div>
		<a class="item item-thumbnail-right" href="#">
			<!-- <div class="item item-text-wrap"> -->
			    Country: {{contact.country}}
			    <br>
			    City: {{contact.city}}
			    <h1> <span class="badge ion-chevron-right"> </span> </h1>
			<!-- </div> -->
		</a>	
	</div>

	<div class="list card">
	    <div class="item item-divider">
		    <h2>Contact</h2>
		</div>
		<a class="item item-thumbnail-right" href="#">
		<!-- <div class="item item-text-wrap"> -->
		    Phone: {{contact.numbers}}
		    <br>
		    Cell Phone: {{contact.numbers}}
		    <br>
		    <!-- Mail: {{contact.mail}} -->
		    <!-- <br> -->
		    <!-- Site Web: {{contact.siteWeb}} -->
		    <h1> <span class="badge ion-chevron-right"> </span> </h1>
		<!-- </div> -->
		</a>
	</div>

  </ion-content>
</ion-view>
