

<ion-view view-title="Contacts">
  <ion-nav-buttons side="right">
    <!-- <a class="button button-icon icon ion-ios7-search" style="color: #B80808"></a>
    <a class="button button-icon icon ion-person-add" style="color: #B80808"></a>

    <a class="button button-icon icon ion-person-stalker" style="color: #B80808"></a> -->
    <button class="button" style="border-style: none" data-ng-click="searchcon()">
    <i class="icon ion-ios7-search" style="color: #B80808"></i>

    </button>
    <button class="button" style="border-style: none" data-ng-click="addper()">
    <i class="icon ion-person-add" style="color: #B80808"></i>

    </button>
    <button class="button"style="border-style: none" data-ng-click="addcom()">
    <i class="icon ion-person-stalker" style="color: #B80808"></i>

    </button>

      <!-- <div class="new">
        <i class="ion-person-add"></i>
          </div> -->
      <!-- <button id="saveButton" class="ion-person-add"></button> -->
  </ion-nav-buttons>
  <ion-content>
      
      <ion-refresher
pulling-text="Pull to refresh..."
on-refresh="doRefresh()">
</ion-refresher>

<!--
    <ion-refresher on-refresh="addContact()">
        </ion-refresher>
-->
       <ion-list>
       <ion-item class="item-avatar" ng-repeat="contact in contacts" ng-href="#/app/contact?contactId={{contact.id}}&addressId={{contact.id}}&addressType={{contact.addressType}}&contactPersonId{{contact.id}}">
                <img ng-src="">
                <h2>{{contact.firstname}},{{contact.lastname}}</h2>
                <p>{{contact.id}}</p>
                </ion-item>
        </ion-list>
    <!-- <ion-list>
      <ion-item class="item-avatar" ng-repeat="item in contacts" type="item-text-wrap" href="#/app/contact/{{item.id}}" >
        <img ng-src="{{item.foto}}" style="width: 64px; height: 64px">
        <span class="item-note">Date
          <div ng-if="item.type == 'person' ">
                person
          </div>
          <div ng-if="item.type == 'secret' ">
                secret
          </div>
          <div ng-if="item.type == 'company' ">
                company
          </div>
        </span>
        <h2>{{item.name}}</h2>
        <p>{{item.of[0]}}</p>
        <p>{{item.country}}</p>
      </ion-item>
    </ion-list> -->
      <ion-infinite-scroll
on-infinite="loadMore()">
</ion-infinite-scroll>
  </ion-content>
</ion-view>
