
<ion-view view-title="{{ntitle}}">
  <ion-content>

    <form >
      <div class="list">
<!--            style="height:15px"-->
        <div class="item item-divider bar bar-header bar-assertive">{{ntitle}}</div>
          
        <label class="item item-input">
          <div class="input-label">Name</div>
          <input type="text" ng-model="entity.name1" placeholder="Name" ng-model="data.name" name="name" required="required" validated>
          <i class="icon ion-alert-circled error"></i>
        </label>
            
        <label class="item item-input item-select">
          <div class="input-label">
            Country
          </div>
          <select ng-model="country" ng-options="c.name for c in countries"></select>    
        </label>
        
 
            
        <label class="item item-input">
          <div class="input-label">Zip</div>
          <input type="text" ng-model="entity.zip"placeholder="Zip" ng-model="data.zip" name="zip" required="required" validated>
          <i class="icon ion-alert-circled error"></i>        
        </label>
           
        <label class="item item-input">
          <div class="input-label">City</div>      
          <input type="text" ng-model="entity.city" placeholder="City" ng-model="data.city" name="city" required="required" validated>
          <i class="icon ion-alert-circled error"></i>
        </label>  

        <label class="item item-input">
          <div class="input-label">Street</div>
          <input type="text" ng-model="entity.street" placeholder="Street" ng-model="data.street">
        </label>

         <label class="item item-input">
          <div class="input-label">Number</div>
          <input type="text" ng-model="entity.houseNumber" placeholder="Number" ng-model="data.number">
        </label>

        <label class="item item-input">
          <div class="input-label">Additional address</div>
          <input type="text" ng-model="entity.additionalAddressLine" placeholder="Additional address line" ng-model="data.Additionaladdress">
        </label>

        <label class="item item-input">
          <div class="input-label"> Short name </div>
          <input type="text" ng-model="entity.searchName" placeholder=" Short name " ng-model="data.shortname">
        </label>
          <label class="item item-input">
          <div class="input-label">Keywords</div>
          <input type="text" ng-model="entity.keywords" placeholder="Keywords" ng-model="data.keywords">
        </label>
         
        <label class="item item-input item-select">
          <div class="input-label">
            Language
          </div>
          <select ng-model="language" ng-options="c.name for c in languages"></select>    
        </label>

        <label class="item item-input">
          <div class="input-label">Foundation</div>
          <input type="date" value="{{ foundation | date: 'shortDate' }}">
        </label>
       

        <div class="item item-divider bar bar-header bar-assertive">Customer type</div>
     
        <label class="item item-toggle">
          Customer
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-checked="entity.isCustomer == 'true' ? true : false ">
              <div class="track">
               <div class="handle"></div>
              </div>
          </label>
        </label>
  
        <label class="item item-toggle">
          Suplier
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-checked="entity.isSupplier == 'true' ? true : false ">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </label>
          
           
        <label class="item item-toggle">
          Status
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-checked="entity.isActive == 'true' ? true : false ">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </label>

      </div>
    </form>

  </ion-content>
</ion-view>
