
<ion-view view-title="{{ntitle}}">

  <ion-nav-buttons side="right">

    <button class="button" style="border-style: none" ng-click="saveOrganization()">
      <i class="icon ion-checkmark" style="{{colorFont}}"></i>
    </button>

  </ion-nav-buttons>

  <ion-content>

    <form >
      <div class="list">
<!--            style="height:15px"-->
        <div class="item item-divider bar bar-header bar-assertive">{{ntitle}}</div>
          
        <label class="item item-input">
          <div class="input-label">Name</div>
          <input type="text" ng-model="entity.name1" placeholder="Name" maxlength="60" name="dto(name1)" required="required" validated>          
          <i class="icon ion-alert-circled error"></i>
        </label>

        <label class="item item-input">
          <div class="input-label"></div>
          <input type="text" ng-model="entity.name2" placeholder="Name" maxlength="60" name="dto(name2)" required="required" validated>
        </label>

        <label class="item item-input">
          <div class="input-label"></div>
          <input type="text" ng-model="entity.name3" placeholder="Name" maxlength="60" name="dto(name3)" required="required" validated>          
        </label>           

        <label class="item item-input">
          <div class="input-label">Street</div>
          <input type="text" name="dto(street)" maxlength="40" ng-model="entity.street" placeholder="Street" ng-model="data.street">
        </label>

        <div class="item item-divider bar bar-header bar-assertive">Contact type</div>
     

        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
        <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
        <button class="button" ng-click="takePicture()">Take Picture</button>
        
        <button class="button" ng-click="pickerImage()">Picker Image</button>

        <fieldset  data-ng-repeat="choice in choices">
      <select>
         <option>Mobile</option>
         <option>Office</option>
         <option>Home</option>
      </select>
      <input type="text" ng-model="choice.name" name="" placeholder="Enter mobile number">
      <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
   </fieldset>
   <button class="addfields" ng-click="addNewChoice()">Add fields</button>
       
   <div id="choicesDisplay">
      {{ choices }}
   </div>

      </div>
    </form>

  </ion-content>
</ion-view>
