<ion-view hide-back-button="false" cache-view="false">
  <ion-content>

<div class="list card">

   <div class="row">
    <div class="col "> 

    <div class="item item-body">
      <img width="{{iframeWidth * 0.4}}"ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
      <img width="{{iframeWidth * 0.4}}"ng-show="imgURI === undefined && userInfo.imageUrl != ''" ng-src="{{apiUrlLocal}}{{userInfo.imageUrl}}">
      <img width="{{iframeWidth * 0.4}}" ng-show="imgURI === undefined && userInfo.imageUrl == ''" ng-src="img/contactp.png">  
    </div>

    </div>
    <div class="col">
      <h4 align = "center">{{ 'Photo' | translate}}</h4>
      <a class="button button-block  icon ion-camera" ng-click="takePicture()" style="{{colorFont}}"></a>
      <a class="button button-block icon ion-images" ng-click="pickerImage()" style="{{colorFont}}"></a>               
 
  </div>
 </div>

    <!--div class="list card"-->
      <div class="item item-body">
        <li class="item item-toggle">
           {{ 'Visibility' | translate}}
           <label class="toggle toggle-assertive">
             <input type="checkbox" ng-model='userInfo.visibleMobileApp' ng-click="changeVisibility()">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
      </div>                      
    <!--/div-->

    
       <div class="item item-body">
          <div class="list">
            <label class="item item-input">
              <input type="password" ng-model="oldPass" placeholder="{{'CurrentPassword' | translate}}">
            </label>
            <label class="item item-input">
              <input type="password" ng-model="newPass" placeholder="{{'NewPassword' | translate}}">
            </label>
            <label class="item item-input">
              <input type="password" ng-model="repeatPass" placeholder="{{'RepeatNewPassword' | translate}}">
            </label>
          </div>  

          <div class="padding">
            <button class="button button-block button-positive" ng-click='saveChange(oldPass,newPass,repeatPass,userInfo.visibleMobileApp)'>
              {{'Save' | translate}}
            </button>
          </div>
       </div>
    </div>

  </ion-content>
</ion-view>
