<ion-view cache-view="false" view-title="{{ 'Detail' | translate}}">
  
  <ion-content>
      
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/image_product.png">
        <h2>{{entity.productName}}</h2>
        <p>{{entity.description}}</p>
        <p>{{productGroup.name}}</p>
        <p>{{productType.name}}</p>
      </div>

      <ion-slide-box on-slide-changed="slideChanged(index)" auto-play="true" does-continue="true">
        <ion-slide ng-repeat="slide in files">
          <img ng-src="{{slide.filename}}" > 
        </ion-slide>
      </ion-slide-box>

      <ion-slide-box active-slide="myActiveSlide" style="padding-top: 0px;">
        <!-- ng-repeat="picture in productPictureArray" -->
        
          <ion-slide ng-repeat="picture in productPictureArray" style="padding-top: 0px;" >
            <div class="item item-image">
              
              <img src="{{apiUrlLocal}}{{picture.imageUrl}}">
            </div>
          </ion-slide>    

      </ion-slide-box>



      <div class="item item-icon-left positive">
        <i class="icon ion-social-usd"></i>
        {{entity.priceFormatted}}<br>
        {{vatType.name}}
      </div>

    </div>
   
  </ion-content>
</ion-view>
