<!-- <ion-nav-bar></ion-nav-bar> -->
<!-- <ion-nav-view> -->
<ion-view cache-view="false" view-title='{{ "ReadMail" | translate}}'>
  
  <ion-nav-buttons side="right">

    <button ng-if="replyExecute == true" class="button" style="border-style: none" ng-click="reply()">
      <i class="icon ion-reply" style="{{colorFont}}"></i>
    </button>  
    
    <button ng-if="replyAllExecute == true" class="button" style="border-style: none" ng-click="replyAll()">
      <i class="icon ion-reply-all" style="{{colorFont}}"></i>
    </button>

    <button ng-if="forwardExecute == true" class="button" style="border-style: none" ng-click="forward()">
      <i class="icon ion-forward" style="{{colorFont}}"></i>
    </button>
    
    <button class="button" style="border-style: none;height: 0px;padding-left: 0px;padding-right: 0px;"></button>
    
  </ion-nav-buttons>


  <ion-content direction="xy">

    <ion-slide-box show-pager="false" active-slide="myActiveSlide">
    
      <ion-slide style="padding-top: 0px;" on-swipe-right="onSwipeRight(item)" on-swipe-left="onSwipeLeft(item)">

        <div class="list card" style="text-align: justify;">
            
          <div ng:bind="customHtml"> {{item.body}} </div>

            <div class="item item-divider">
              <ion-item class="button button-small button-clear button-assertive"
                      ng-click="toggleGroup(group)"
                      ng-class="{active: isGroupShown(group)}">

                <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>&nbsp;&nbsp;{{ "From" | translate}}: {{item.mailFrom}}

              </ion-item>

              <ion-item class="item-accordion"
                        ng-show="isGroupShown(group)">
                <h4>
                  <div class="item-body-auto">
                    {{ "From" | translate}}: {{item.mailFrom}}             
                  </div>
                </h4> 
              </ion-item>
            </div>  
            
            <div class="item item-divider">
              <ion-item class="button button-small button-clear button-assertive"
                      ng-click="toggleGroup(group2)"
                      ng-class="{active: isGroupShown(group2)}">

                <i class="icon" ng-class="isGroupShown(group2) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>&nbsp;&nbsp;{{ "To" | translate}}: {{item.to}}
              </ion-item>

              <ion-item class="item-accordion"
                        ng-show="isGroupShown(group2)">
                <h4>
                  <div class="item-body-auto">
                    {{ "To" | translate}}: {{item.to}}
                    <!-- show CC -->
                    <div ng-if="arrayCC[0] != '' " ng-repeat="ite in arrayCC">
                      CC: {{ite}}
                    </div><br>
                    <!-- show BCC -->
                    <div ng-if="arrayBCC[0] != '' " ng-repeat="ite in arrayBCC">
                      BCC: {{ite}}
                    </div>

                  </div>
                  
                </h4> 
              </ion-item>
            </div>  
            
            <div class="item item-text-wrap">
              <h4>
              <strong>{{ "Subject" | translate}}: {{item.mailSubject}}<br>  </strong>
                
              </h4>
              <h5>
                {{ "DateMail" | translate}}: {{item.sentDate}}  
              </h5>
              
            </div>
            
          <ion-item ng-if="item.attachmentArray.length > 0" class="button button-clear button-positive"
                    ng-click="toggleGroup(group3)"
                    ng-class="{active: isGroupShown(group3)}">
              <i class="icon" ng-class="isGroupShown(group3) ? 'ion-chevron-up' : 'icon ion-paperclip'"></i>
            &nbsp;
          </ion-item>

          <ion-item class="item-accordion"
                    ng-show="isGroupShown(group3)">
            <!-- show adjuntos -->
            <div ng-repeat="attach in item.attachmentArray">
              <i class="icon ion-paperclip"></i>
              <!-- download(attach) -->
              <button ng-click="download(attach)" class="button button-clear button-small button-stable">
                <h4>{{attach.fileName}}</h4>
              </button>
            </div>
            
          </ion-item>

        </div>

        <div ng-if="item.bodyType != '1'" class="card">
          <textarea id="page_content" ng-init="updateEditor()" class="item-large-text" disabled="true" style="text-align: justify;">{{item.body}}</textarea>            
        </div>

        <div ng-if="item.bodyType != '2' " class="card border-card-email" ng-bind-html="thisCanBeusedInsideNgBindHtml" style="text-align: justify;">
        </div>

        </ion-slide>
      </ion-slide-box>

    </ion-content>
</ion-view>
<!-- </ion-nav-view>