<ion-view view-title="{{nameList}}">

  <ion-content> 
    <ion-refresher pulling-text="Pull to refresh hola..." on-refresh="doRefresh()">
    </ion-refresher>
      <ion-list>
        <ion-item class="item-avatar" ng-repeat="item in mailList" type="item-text-wrap"  ng-href="#/app/mail-detail?mailId={{item.mailId}}&folderId={{item.folderId}}&imageFrom='{{item.fromImageUrl}}'">
  
          <!-- IF IMAGE DO NOT EXIST-->

<!-- <ion-content>
<ion-refresher pulling-text="Pull to refresh hola..." on-refresh="doRefresh()">
</ion-refresher>
<ion-list>
<ion-item class="item-thumbnail-left" ng-repeat="item in mailList" type="item-text-wrap"  > -->

<!-- IF IMAGE DO NOT EXIST -->

          <!-- <div ng-if="item.mailId != '' ">
            <img ng-src="img/user_default.png" style="width: 64px; height: 64px">
          </div> -->

          <img ng-if="item.fromImageUrl == ''" ng-src="img/user_default.png" style="width: 64px; height: 64px">
          <img ng-if="item.fromImageUrl != ''" ng-src="{{apiUrlLocal}}{{item.fromImageUrl}}" style="width: 64px; height: 64px">
          <span class="item-note">
              <div>
                {{item.sentDateTime}}
              </div>
              
              <button ng-if="item.hasReadState == 'true' " class="button button-clear button-positive">
                <i class="icon ion-checkmark-circled"></i>
              </button>

              <button ng-if="item.hasReadState == 'false' " class="button button-clear button-light">
                <i class="icon ion-checkmark-circled"></i>    
              </button>

              <button ng-if="item.hasAttach == '1'" class="button button-clear button-light">
                <i class="icon ion-paperclip"></i>  
              </button>
          </span>

          <h2>{{item.mailToFrom}}</h2>
          <p>{{item.subject}}</p>
        </ion-item>
      </ion-list>
      
      <ion-infinite-scroll ng-if="_doRefresh" immediate-check="false" on-infinite="loadMore()" distance="1%">
      </ion-infinite-scroll>  

  </ion-content>
</ion-view>
