<ion-view view-title="Detail">
  <ion-content>

    <ion-slide-box active-slide="myActiveSlide">
      <ion-slide>
        <div class="list card">
            
          <div ng:bind="customHtml">{{item.body}}  </div>  
          

          <div class="item item-avatar">
            <img ng-src={{imageF()}} style="width: 64px; height: 64px">
            <span class="item-note">{{item.sentDate}} </span>
            <h2>From: {{item.mailFrom}}</h2>
            <p>To: {{item.to}}</p>
          </div>

          <div  class="item item-body">
            <div>
              <p>    Subject: {{item.mailSubject}}  </p>
              <button ng-if="item.attachmentArray.length > '0'" class="button button-clear button-light">
                <i class="icon ion-paperclip"></i>  
              </button>
            </div>

            <div ng-if="arrayCC[0] != '' ">
              <p> 
                
                <div>
                  <ion-item class="button button-clear button-positive"
                            ng-click="toggleGroup(arrayCC)"
                            ng-class="{active: isGroupShown(arrayCC)}">
                      <i class="icon" ng-class="isGroupShown(arrayCC) ? 'ion-chevron-up' : 'ion-chevron-down'"></i> 
                    &nbsp;
                    Cc
                  </ion-item>
                  <ion-item class="item-accordion"
                            ng-repeat="ite in arrayCC"
                            ng-show="isGroupShown(arrayCC)">
                    {{ite}}
                  </ion-item>
                </div>  
                
              </p>
            </div>

            <div ng-if="arrayBCC[0] != '' ">
              <p>
                <ion-item class="button button-clear button-positive"
                          ng-click="toggleGroup(arrayBCC)"
                          ng-class="{active: isGroupShown(arrayBCC)}">
                    <i class="icon" ng-class="isGroupShown(arrayBCC) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                  &nbsp;
                  Bcc
                </ion-item>
                <ion-item class="item-accordion"
                          ng-repeat="ite in arrayBCC"
                          ng-show="isGroupShown(arrayBCC)">
                  {{ite}}
                </ion-item>
              </p>  
            </div>

          </div>
        </div>

        
        <div ng-if="item.bodyType != '2' " class="card">
          Detail: 
          <div ng-bind-html="thisCanBeusedInsideNgBindHtml"></div>
        </div>
        <div ng-if="item.bodyType != '1' " class="card">
          Detail:
          {{item.body}} 
        </div>
        
      </ion-slide>
    </ion-slide-box>

    </ion-content>
</ion-view>





<div class="tabs tabs-icon-top">
  <a class="tab-item">
  	<img ng-src="{{item.foto}}" style="width: 64px; height: 64px">
    <i class="icon ion-arrow-up-a"></i>
    Next
  </a>
  <a class="tab-item">
    <i class="icon ion-arrow-down-a"></i>
    Previous
  </a>
  <a class="tab-item">
    <i class="icon ion-reply"></i>
    Reply
  </a>
  <a class="tab-item">
    <i class="icon ion-reply-all"></i>
    Reply All
  </a>
  <a class="tab-item">
    <i class="icon ion-archive"></i>
    Move
  </a>
</div>
