<ion-view view-title='{{ "ReadMail" | translate}}'>
  <ion-content >

    <!-- <ion-slide-box active-slide="myActiveSlide"> -->
      <!-- <ion-slide> -->
        <div class="list card">
            
          <div ng:bind="customHtml">{{item.body}}  </div>  
          

          <div class="item item-avatar">
            <img ng-src={{imageF()}} style="width: 64px; height: 64px">
            <span class="item-note">{{item.sentDate}} </span>
            <h2>From: {{item.mailFrom}}</h2>
            <p>To: {{item.to}}</p>
          </div>

          <div  class="item item-body">
            <div>
              <p> Subject: {{item.mailSubject}} </p>

              <div ng-repeat="attach in item.attachmentArray">
                <button ng-click="download(attach)" class="button button-clear button-light">
                  <i class="icon ion-paperclip">{{attach.fileName}}</i>
                </button>
              </div>

            </div>

            <div ng-if="arrayCC[0] != '' ">
              <p> 
                
                <div>
                  <ion-item class="button button-clear button-positive"
                            ng-click="toggleGroup(arrayCC)"
                            ng-class="{active: isGroupShown(arrayCC)}">
                      <i class="icon" ng-class="isGroupShown(arrayCC) ? 'ion-chevron-up' : 'ion-chevron-down'"></i> 
                    &nbsp;
                    Cc
                  </ion-item>
                  <ion-item class="item-accordion"
                            ng-repeat="ite in arrayCC"
                            ng-show="isGroupShown(arrayCC)">
                    
                    <textarea>{{ite}}</textarea>
  
                  </ion-item>
                </div>  
                
              </p>
            </div>

            <div ng-if="arrayBCC[0] != '' ">
              <p>
                <ion-item class="button button-clear button-positive"
                          ng-click="toggleGroup(arrayBCC)"
                          ng-class="{active: isGroupShown(arrayBCC)}">
                    <i class="icon" ng-class="isGroupShown(arrayBCC) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                  &nbsp;
                  Bcc
                </ion-item>
                <ion-item class="item-accordion"
                          ng-repeat="ite in arrayBCC"
                          ng-show="isGroupShown(arrayBCC)">
                  <textarea>{{ite}}</textarea>
                </ion-item>
              </p>  
            </div>

          </div>
        </div>

        
        <div ng-if="item.bodyType != '2' " class="card">
          Detail:
          <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 300px">
              <div  ng-bind-html="thisCanBeusedInsideNgBindHtml"></div>    
          </ion-scroll>
        </div>

        <div ng-if="item.bodyType != '1' " class="card">
          Detail:
          <textarea>
              {{item.body}}   
          </textarea>
          
        </div>
        
      <!-- </ion-slide> -->
    <!-- </ion-slide-box> -->

    </ion-content>
</ion-view>





<!-- <div class="tabs tabs-icon-top">

  <a class="tab-item">
  	<i class="icon ion-arrow-up-b"></i>
    Next
  </a>
  <a class="tab-item">
    <i class="icon ion-arrow-down-b"></i>
    Previous
  </a>
  <a class="tab-item">
    <i class="icon ion-reply"></i>
    Reply
  </a>
  <a class="tab-item">
    <i class="icon ion-reply-all"></i>
    Reply All
  </a>
  <a class="tab-item">
    <i class="icon ion-archive"></i>
    Move
  </a>
</div> -->
