<ion-view view-title="Mailboxes">
  <ion-nav-buttons side="right">
    <button class="button" style="border-style: none" data-ng-click="searchcon()">
      <i class="icon ion-ios7-search" style='{{colo}}'></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item nav-clear ng-repeat="item in folders" type="item-text-wrap" href="#/app/mail-list?folderId={{item.folderId}}" style='{{colo}}'>

        <i class="{{getClassImage(item)}}">
          {{item.folderName}}
        </i>
      </ion-item>
    </ion-list>
  </ion-content>
