<ion-view view-title="Mailboxes">
  <ion-nav-buttons side="right">
    <button class="button" style="border-style: none" data-ng-click="searchcon()">
    <i class="icon ion-ios7-search" style="color: #B80808"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="item in mailsSubMenu" type="item-text-wrap" href="#/app/listmails/{{item.id}}">
        <img ng-src="{{item.face}}">
        <h2>{{item.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <div class="buttons">
      <button class="button">Left Button</button>
    </div>
    <h1 class="title">Title!</h1>
    <div>
      <button class="button"  side="right">
      <i class="icon ion-ios7-search" style="color: #B80808"></i>
    </div>
  </button>
  </ion-footer-bar>
</ion-view>
